header{
   margin-bottom: 88px;
   min-height: 100px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}

nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 60px;
    font-size: 17px;
    display: flex;
    justify-self: center;
    align-items: center
}

ul li{
    list-style: none;
    margin-left: 20px;
}

ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 60px;

}

ul li a:hover{
    background: white;
    color: black;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.logs{
    max-width: 1840px;
    margin: 10px auto;
}