* {
    margin: 0;
    padding: 0;
    background-color: #13161B;
    background-image: url("../images/bg-elements-1.png");
    background-repeat: repeat;
}

.section-1 {
    display: flex;
    margin-left: 31px;
    margin-right: 160px;
}

.section1-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    margin-top: 20px;
}

.section1-left-side button {
    margin-top: 20px;
    max-width: 100%;
    font-family: "Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    padding: 32px 48px;
    border: none;
    border-radius: 8px;
    background-color: #9747FF;
    box-shadow:inset 0px 6px 8px rgba(255, 255, 255, .6),
                0px 8px 6px rgba(0, 0, 0, .15);
    transition: box-shadow .15s, transform .15s;
}

.section1-left-side button:active {
    box-shadow:inset 0px 8px 16px 4px rgba(255, 255, 255, .6);
    transform: translate(0, 4px);
}

.section1-left-side button img {
    background: none;
    vertical-align: middle;
    margin-bottom: 4px;
}

.section1-right-side {

}

.catchphrase {
    font-size: 78px;
    font-family: "Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 114px;
    text-align: center;
    background: radial-gradient(circle, rgba(165,247,168,1) 20%, rgba(175,122,242,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1-right-side p {
    font-size: 32px;
    font-family: "NotoSans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    text-align: right;
}

.keyword {
    color: #A5F7A8;
}

.section-4{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.section4-transitionImage{
    width: 100%;
    height: 1085.65px;
    background-image: url(/res/images/section-4-hero-image.png);

    position: relative;
}
.transition {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #13161B, rgba(0, 0, 0, 0));
}

.section4-h6 {
    margin-bottom: 100px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}
.section4-h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    letter-spacing: 0.03em;
    background: radial-gradient(50% 50% at 50% 50%, #A762FF 33.2%, #89DF8D 78.61%);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.section4-Section {
    display: flex;
    flex-direction: row;
    margin: 0 80px;
}