* {
    margin: 0;
    padding: 0;
    background-color: #13161B;
    background-image: url("../images/bg-elements-1.png");
    background-repeat: repeat;
}

.section-1 {
    display: flex;
    margin-left: 31px;
    margin-right: 160px;
}

.section1-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    margin-top: 20px;
}

.section1-left-side button {
    margin-top: 20px;
    max-width: 100%;
    font-family: "Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    padding: 32px 48px;
    border: none;
    border-radius: 8px;
    background-color: #9747FF;
    box-shadow:inset 0px 6px 8px rgba(255, 255, 255, .6),
                0px 8px 6px rgba(0, 0, 0, .15);
    transition: box-shadow .15s, transform .15s;
}

.section1-left-side button:active {
    box-shadow:inset 0px 8px 16px 4px rgba(255, 255, 255, .6);
    transform: translate(0, 4px);
}

.section1-left-side button img {
    background: none;
    vertical-align: middle;
    margin-bottom: 4px;
}

.section1-right-side {

}

.catchphrase {
    font-size: 78px;
    font-family: "Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 114px;
    text-align: center;
    background: radial-gradient(circle, rgba(165,247,168,1) 20%, rgba(175,122,242,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1-right-side p {
    font-size: 32px;
    font-family: "NotoSans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    text-align: right;
}

.keyword {
    color: #A5F7A8;
}

.section-3 {
    margin-left: 140px;
    margin-right: 140px;
}

.section-3-header-title {
    font-family: "Inter";
    font-weight: bold;
    font-size: 48px;
    background: radial-gradient(circle, rgba(165,247,168,1) 20%, rgba(175,122,242,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:109px;
}

.section-3-header-title img {
    margin-left: 64px;
}

.section-3-tutorials-container {
    display: flex;
    justify-content: space-between;
}

.section-3-tutorial {
    width: 416px;
    background-color: #13161B;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .7);
}

.section-3-tutorial-img {
    margin-top: 30px;
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 35px;
}

.section-3-tutorial-img img {
    width: 350px;
}

.section-3-tutorial-title {
    font-family: "NotoSans";
    font-weight: 800;
    font-size: 22px;
    color: #A5F7A8;
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 16px;
}

.section-3-tutorial-content {
    font-family: "NotoSans";
    font-size: 16px;
    color: white;
    margin-left: 33px;
    margin-right: 33px;
    background: #13161B;
}